{% extends "layout.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSSFiles/home.css') }}"> 
<script src="/static/JSFiles/main.js"></script>

{% block pagehead %}{% endblock %}

{% endblock head %}


{% block content %}

<header>
    <img class="sidelogo" src="{{ url_for('static', filename='Media/egyptairmainlogo.png') }}" alt="logo">
    
    <nav>
        <ul class="sideBar">
            <li class="xIcons" onclick="hideSidebar()"><i class="fas fa-times"></i></li>
            <li><a href="{{url_for('chat')}}"> Chat </a></li>
            <li><a href="{{url_for('connect')}}"> Connect with Help Desk</a></li>
            <li><a class="log" href="{{url_for('logout')}}">Logout</a></li>

        </ul>
    </nav>

    <nav class="navigation">
        <ul class="navRight">
            <li onclick="showSidebar()"><i class="fas fa-bars"></i></li>
        </ul>
    </nav>
    
</header>


{% block rest %}
{% endblock %}

{% endblock content%}

