<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AI Helpdesk Chatbot</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Media/egyptairmainlogo.png') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        {% block head %} {% endblock %}
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>